services:
  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./html:/usr/share/nginx/html
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot:/var/www/certbot
      - /etc/letsencrypt/:/etc/letsencrypt/
    restart: unless-stopped
